@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("../css/header.css");
@import url("https://azure-ui.netlify.app/main.css");

.p1-hd {
  padding: 2rem 8rem;
  font-family: "Quicksand", sans-serif;
}

.quiz-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8rem;
}

.quiz-srch-fld {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.search-inp {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid gray;
  outline: none;
  position: relative;
}

.fl-btn {
    background-color: var(--primary-light)  !important;
    color: var(--primary-dark) !important;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    margin-left: 0.5rem;
}

.fa-plus{
    color: var(--primary-dark) !important;

}

.card-title{
  margin: 1rem 0;
}

.card-body{
  margin: 1rem 0;
}

.quiz-card-container{
  padding: 0 8rem;
  display: flex;
  gap: 1rem;
}